body {
    background-image: url(../bgimage.jpg);
    background-repeat: round;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: "Arial", sans-serif;
    margin: 0;
}
.calculator {
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgb(19, 95, 19);
    width: 310px;
}

#display {
    width: 100%;
    height: 70px;
    font-size: 2rem;
    text-align: right;
    border: none;
    outline: none;
    padding: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    background: lightgreen;
    color : black;
    box-shadow: inset 0 2px 4px black;
}

input::placeholder{
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 10px;
}

.btn {
    background-color: rgb(178, 238, 89);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10x 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px black;
}

.btn:hover {
    background-color: black;
}

.equal {
    background-color: rgb(237, 137, 137);
    font-weight: bold;
}

.equal:hover {
    background-color: rgb(255, 0, 0);
}

.btn:nth-child(1), .btn:nth-child(2) {
    background-color: rgb(111, 206, 152);
}

.btn:nth-child(1):hover, .btn:nth-child(2):hover {
    background-color: rgb(0, 100, 0);

}
